*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #c9c9c9;

   
}
.container{
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
    
}
.title{
    width: 100%;
    display: flex;
    justify-content:flex-start;


}
.title__question{
    font-size: 14px;
    margin-right: 5px;
    font-family: 'Gill Sans', sans-serif;
    align-items: flex-start;
}
#name{
    outline: none;
    border: none;
    background: #c9c9c9;
    font-size: 14px;
    font-family: 'Gill Sans', sans-serif;
   
}

.create{
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    color: rgb(55, 54, 54);
}
.question{
    margin-top: 6px;
    font-family: 'Gill Sans', sans-serif;
}
#create-list{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    overflow: none;
   background: #ffffff;
   border-radius: 5px;
}
.pick{
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
}

.category__wrapper{
    display: flex;
    justify-content:space-between;
}
.category{
    width: 48%;
    height: 80px;
    background: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
}
.business{
    margin-right: 15px;
}
.input__wrapper{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#radio-business{
    margin-top: 10px;
}
#radio-personal{
    margin-top: 10px;
}
#radio-business:checked {
    border-color: #3532ff;
}
#radio-personal:checked {
    border-color: #f65c9f;
}

.radio__text{
    margin-top: 10px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
}
.button{
    margin-top: 15px;
}
.btn{
    width: 100%;
    height: 40px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    background: #3532ff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

/* DOM li */
ul{
    list-style-type: none;
}

.li{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    overflow: none;
   background: #ffffff;
   border-radius: 10px;
   font-size: 14px;
   font-family: 'Franklin Gothic Medium', sans-serif;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   
}

.edit__btn{
    width: 40px;
    height: 25px;
    cursor: pointer;
    background: #f65c9f;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    margin-left: 320px;
}
.delete__btn{
    width: 60px;
    height: 25px;
    cursor: pointer;
    background: #fc8f3c;
    color: #ffffff;
    border: none;
    border-radius: 3px;
   margin-right: 10px;
}